<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="5 seconds">
    <include resource="appenders/async-console-appender.xml"/>
    <include resource="appenders/async-file-appender-info.xml"/>

    <root level="INFO">
        <appender-ref ref="ASYNC_CONSOLE_APPENDER"/>
        <appender-ref ref="ASYNC_FILE_APPENDER_INFO"/>
    </root>
</configuration>
